{% extends "layout.html" %}
{% block styles %}
<style>
a {
  color: #337ab7;
  text-decoration:underline;
}  
.btn-link {
font-weight: 400;
color: #337ab7;
border-radius: 0;
}
.btn {
display: inline-block;
margin-bottom: 0;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
padding: 6px 12px;
font-size: 12px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
</style>

{% endblock %}
{% block content %}

<table id="gridCustomers" class="table table-striped table-bordered">
</table>
<div id="pager"></div>
<div  style="margin-top: 20px;">
<table id="gridOrders" class="table table-striped table-bordered">
</table>
<div id="ordersPager"></div>
</div>
{% endblock %}
{% block scripts %}
 <script src="{{ url_for('static', filename='customer.js') }}"></script>
<script>
  "use strict";
 loadCustomers()
</script>
{% endblock %}