{% extends "layout.html" %} 
{% block styles %}
<style>
body {
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 1.1em; 
}
form {
display: block;
    margin-top: 0em;
}   

fieldset {  
display: block;
margin-inline-start: 2px;
margin-inline-end: 2px;
padding-block-start: 0.35em;
padding-inline-start: 0.75em;
padding-inline-end: 0.75em;
padding-block-end: 0.625em;
border-top-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-left-width: 2px;
border-top-style: groove;
border-right-style: groove;
border-bottom-style: groove;
border-left-style: groove;
border-top-color: threedface;
border-right-color: threedface;
border-bottom-color: threedface;
border-left-color: threedface;
min-inline-size: min-content;
}

legend {     
display: block;
width: 20%;
padding: 0;
margin-bottom: 20px;
font-size: 21px;
line-height: inherit;
color: #333;
border: 0;
border-bottom: 1px solid #e5e5e5;
padding-inline-start: 2px;
padding-inline-end: 2px;
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
font-size: 1.1em; 
}

.invTable {
width: 100%;	
display: table;
border-collapse: separate;
-webkit-border-horizontal-spacing: 2px;
-webkit-border-vertical-spacing: 2px;
text-indent: initial;
box-sizing: border-box;
padding-bottom: 20px;
}

.order-container {
    display: flex;
    margin-left: 0;
    margin-right: auto;   
}
.order-container div {
	width:500px;
	margin:0px;
    display: block;
    padding-right: 55px;
	padding-bottom: 20px;
}

 .right { 
	font-weight: bold;
	text-align: right; 
}
</style>
{% endblock %}
{% block content %}

<div id="container" class="order-container">

</div>
<table id="gridInvoice"  class="table table-striped table-bordered">

</table>
<div id="orderPager"></div>
<script id="invoice" type="text/html">
    <div>
		<fieldset>
		<legend>Invoice Data</legend>
		<table class="invTable">
			<tbody>
				<tr>
					<td> Invice No:</td>
					<td><input type="text" class="form-control input-sm" name="invNumber" readonly="true" id="invNumber" value="${invNumber}"></td>
				</tr>
				<tr>
					<td> Invice Date:</td>
					<td><input type="text" id="orderDate" class="form-control input-sm" readonly="true" name="invdate"></td>
				</tr>
				<tr>
					<td> Client</td>				
					<td><input type="text" class="form-control input-sm"  name="client"  readonly="true"  value="${client}"></td>
				</tr>
				<tr>
					<td> Amount</td>				
					<td><input type="text" id="amount" class="form-control input-sm right" readonly="true"  name="amount"></td>
				</tr>
				<tr>
					<td>Tax (7%)</td>				
					<td><input type="text" id="tax" class="form-control input-sm right" readonly="true"  name="tax"></td>
				</tr>
				<tr>
					<td> Total</td>				
					<td><input type="text" id="total" class="form-control input-sm right"  readonly="true" name="total"></td>
				</tr>
			</tbody>
		</table>
		</fieldset>
	</div>		
    <div>
		<fieldset>
			<legend>Shipping Info</legend>
			<table class="invTable">
				<tbody>
					<tr>
						<td>Address Line 1:</td>
						<td><input type="text" name="addressLine1" class="form-control input-sm" value="${addressLine1}"></td>
					</tr>
					<tr>
						<td> Address Line 2:</td>
						<td><input type="text" name="addressLine2" class="form-control input-sm"  value="${addressLine2}"></td>
					</tr>
					<tr>
						<td>State</td>				
						<td><input type="text" name="state" class="form-control input-sm" value="${state}"></td>
					</tr>
					<tr>
						<td> City</td>				
						<td><input type="text" id="city" name="city" class="form-control input-sm"  value="${city}"></td>
					</tr>
					<tr>
						<td>Country</td>				
						<td><input type="text" id="country" name="country" class="form-control input-sm"  value="${country}"></td>
					</tr>
					<tr>
						<td> Postcode:</td>				
						<td><input type="text" id="postalCode" name="postalCode" class="form-control input-sm"  value="${postalCode}"></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
  </script>	
{% endblock %}
{% block scripts %}
 <script src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script>
  "use strict";
	var lastsel
	var datas;
	var order;
	var url = window.location.href;
	const match = url.match(/\/([0-9a-fA-F-]{36})(?:\/order\/([0-9a-fA-F-]{36}))?/);

	const custId = match ? match[1] : null;
	const orderId = match ? match[2] : null;
	url = `/invoice/${custId}/order`;
	if (orderId)
		url = `/invoice/${custId}/order/${orderId}`;

    fetch(url, {
		headers: {
		'Accept': 'application/json'
		}
	}).then(resp => resp.json()
	).then(data => {
		order = data[0]
		$("#invoice").tmpl(data).appendTo("#container");
	});
	
loadOrderItems(custId)
function loadOrderItems(custId) {
  $("#gridInvoice").jqGrid({
    url: `/invoice/${custId}/orderItems`,
    datatype: "json",
    height: 200,
    colModel: [
      {
        name: 'productId',
        index: 'productId',
        key: true,
        hidden: true
      },
      { label: 'Name', index: 'productName', name: 'productName', width: 120},
      { label: 'Description', index: 'description', name: 'description', width: 150 },
      { label: 'Quantity', index:'quantity', name: 'quantity', width: 60, editable: true ,formatter: "number",align: "right"},   		
      { name: 'unitPrice', label: "Price", index: 'unitPrice', width: 60, align: "right", sorttype: "float", formatter: "number", summaryType: 'sum' }
    ],
    loadonce: true,
    pager: "#orderPager",
    autowidth: true,
    viewrecords: true,
    sortname: 'unitPrice',
    searching: {
      searchOnEnter: true,
      defaultSearch: "bw"
    },
	cellEdit: true,
    afterSaveCell: function(rowid, name, value, iRow, iCol) {
        var allData = $("#gridInvoice").jqGrid('getRowData');
        var editedRows = $("#gridInvoice").jqGrid('getGridParam', 'savedRow');

        // Merge changes
        editedRows.forEach(function(edit) {
            var rowIndex = allData.findIndex(row => row.id === edit.id);
            if (rowIndex !== -1) {
                allData[rowIndex] = {...allData[rowIndex], ...edit};
            }
        });
		var amount = 0;
		var vat = 0;
		var total = 0;
		allData.forEach(function(product, idx) {
			amount += (parseInt(product.quantity) * parseFloat(product.unitPrice));
		})
		vat = amount * 0.07;
		total = amount + vat;
		$('#amount').val(amount.toFixed(2));
		$('#tax').val(vat.toFixed(2));	
		$('#total').val(total.toFixed(2));
    },
	onSelectRow: function (id) {
    	if (id) {
			jQuery('#gridInvoice').jqGrid('restoreRow', lastsel);
			jQuery('#gridInvoice').jqGrid('editRow', id, true);
			lastsel = id;
      	}
    },
	loadComplete: function(invoiceData) {
		datas = invoiceData;
	 },
	 gridComplete: function() {
        var allData = $("#gridInvoice").jqGrid('getRowData');
		if (allData.length == 0)
			allData = datas;

        var editedRows = $("#gridInvoice").jqGrid('getGridParam', 'savedRow');

        // Merge changes
        editedRows.forEach(function(edit) {
            var rowIndex = allData.findIndex(row => row.id === edit.id);
            if (rowIndex !== -1) {
                allData[rowIndex] = {...allData[rowIndex], ...edit};
            }
        });
		const currentDate = new Date();
		var formattedDate = currentDate.toISOString().split('T')[0];
		$('#orderDate').val(formattedDate)

		var amount = 0;
		var vat = 0;
		var total = 0;
		allData.forEach(function(product, idx) {
			amount += (parseInt(product.quantity) * parseFloat(product.unitPrice));
		})
		vat = amount * 0.07;
		total = amount + vat;
		$('#amount').val(amount.toFixed(2));
		$('#tax').val(vat.toFixed(2));	
		$('#total').val(total.toFixed(2));

		if (order){
			var orderItems = allData;
			order['amount'] = amount.toFixed(2)
			order['tax'] = vat.toFixed(2)
			order['total'] = total.toFixed(2)
			order['status'] ='Pending'
			$.ajax({
				url: '/invoice',
				type: 'POST',
				contentType: 'application/json', // Crucial for Flask to recognize as JSON
				data: JSON.stringify({
					"order": order,
					"orderItems": orderItems
				}),
				success: function(response) {
					console.log(response);
				},
				error: function(error) {
					console.log(error);
				}
			});
		}

    },
    caption: "Order Items"
  }).navGrid('#orderPager', { add: false, edit: false, del: false, search: false });
}
</script>
{% endblock %}